{{> attendanceButton}}
<div class="centered">
    {{#if isStarted }}
    <h2 class="index__title">Hello!!!</h2>
        <h4>You have started. Please choose end.</h4>
        {{else}}
        <h2 class="index__title">Hello!!!</h2>
            <h4>You haven't started. Please choose start</h4>
            {{/if}}
</div>