<div class="attendace-info">
    <h3 class="attendace-info__title">Tên Nhân Viên</h3>
    <p class="attendace-info__text">
        {{name}}
    </p>
    <h3 class="attendace-info__title">Nơi Làm Việc</h3>
    <p class="attendace-info__text">
        {{workPlace}}
    </p>
    <h3 class="attendace-info__title">Giờ Bắt Đầu</h3>
    <p class="attendace-info__text">
        {{startTime}}
    </p>
    <h3 class="attendace-info__title">Have a good job!!!</h3>
</div>