@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root {
    --bs-black: #000;
    --bs-blue: #0d6efd;
    --bs-white: #fff;
    --bs-sliver: #ccc;
    --bs-blue-transparent: #007bff;
    --bs-blue-transparent: rgb(102 153 204 / 1);
    --bs-bg-transparent: rgb(0, 0, 0, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.app {
    height: 100vh;
    padding-bottom: 5rem;
    background: linear-gradient(#c2dcdd, #9198e5);
}

.link-btn {
    margin: 3rem auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 4rem;
    background: var(--bs-white);
    color: var(--bs-black);
    border: 1px solid var(--bs-white);
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}

.link-btn:hover {
    border: 1px solid var(--bs-black);
}

.centered {
    height: 100vh;
    text-align: center;
}

.btn-custom-form {
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    display: block;
    width: 16rem;
    outline: none;
    border: none;
    background-color: var(--bs-blue-transparent);
    cursor: pointer;
}

.form-control {
    margin: 1.2rem 2rem;
}

.form-control label {
    margin-bottom: 0.6rem;
    font-weight: 600;
    color: var(--bs-black);
}

.form-control label,
.form-control input,
.form-control select {
    display: block;
}

.form-control input,
.form-control select {
    padding: 0.5rem;
    width: 18rem;
    height: 2.8rem;
    border: 1px solid var(--bs-sliver);
    outline: none;
}

.form-control .input-disabled {
    outline: none;
    border: none;
    touch-action: none;
}

.form-control textarea {
    resize: none;
    height: 5rem;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    margin: 0 1.6rem;
    display: flex;
    align-items: center;
    height: 6.4rem;
}

.navbar__brand img {
    width: 5rem;
    height: 5rem;
}

.navbar__list {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding: 0px;
    list-style: none;
}

.navbar__item {
    margin: 0 1rem;
    display: block;
}

.navbar__item:hover {
    border-radius: 0.4rem;
    background-color: var(--bs-blue);
}

.navbar__item a {
    display: inline-block;
    padding: 0.6rem 1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--bs-black);
}

.black-drop {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.mobile-nav {
    display: none;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translateX(100%);
    background: var(--bs-blue-transparent);
    transition: all 0.2s linear;
    z-index: 2;
}

.open {
    display: block;
    transform: translateX(0);
}

.mobile-nav__list {
    margin: 5.6rem 1.2rem 0 1.2rem;
    padding: 0;
    list-style: none;
}

.mobile-nav__item {
    margin-top: 0.8rem;
}

.mobile-nav__item a {
    padding: 1rem;
    display: block;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--bs-white);
}

.side-menu-toggle {
    margin-left: auto;
    padding: 0.6rem 1rem;
    display: none;
    background: transparent;
    outline: none;
    border-color: var(--bs-blue);
    color: var(--bs-white);
    background: var(--bs-blue);
    font-size: 1.4rem;
    font-weight: 600;
    z-index: 3;
}

.index__title {
    margin-top: 20rem;
}

.attendace-form {
    display: flex;
    justify-content: center;
}

.attendace-form form {
    margin-right: 1.2rem;
}

.btn-custom {
    width: 10rem;
    height: 6rem;
    background: var(--bs-blue-transparent);
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 1px 2px 2px 1px var(--bs-bg-transparent);
    transition: all 0.3 ease-in-out;
}

.btn-custom:hover {
    cursor: pointer;
    transform: translateY(-10%);
}

.form-start__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: var(--bs-bg-transparent);
    z-index: 5;
}

.form-start {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 40%;
    transform: translateY(-100%);
    background: var(--bs-white);
    animation: fadeIn 0.3s ease-in-out;
}

.form-leave {
    margin: 0 auto;
    padding: .6rem 1rem;
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    width: 40%;
    transform: translateY(-100%);
    background: var(--bs-blue-transparent);
    animation: fadeIn 0.3s ease-in-out;
}


.form-leave__title {
    text-align: center;
}



.attendace-info {
    margin: 5rem auto 0 auto;
    padding: 1rem;
    width: 34rem;
    background: var(--bs-blue-transparent);
    box-shadow: 1px 2px 2px 1px var(--bs-bg-transparent);
}

.attendace-info__text {
    margin-bottom: 1rem;
}

.attendace-info__list {
    padding: 0;
    list-style: none;
}

.attendace-info__item {
    margin-bottom: 1.6rem;
    padding: .8rem 0;
}

.info-staff__wrapper {
    margin: 5rem auto;
    padding: 1rem;
    width: 40%;
    background: var(--bs-blue-transparent);
    box-shadow: 1px 2px 2px 1px var(--bs-bg-transparent);
}

.info-staff__item {
    margin-bottom: .8rem;
}

.info-staff__title {
    margin-bottom: 1rem;
    text-align: center;
}

.info-staff__item i {
    margin-right: 1rem;
   font-size: 2rem;
}

.info-staff__item input {
    outline: none;
    border: none;
}

.info-staff__img {
    margin-top: 1rem;
    display: block;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.info-staff__btn {
    margin: 1rem auto;
    padding: 1rem 1.5rem;
    display: block;
    width: 16rem;
    outline: none;
    border: none;
    background-color: var(--bs-white);
    border: 1px solid transparent;
    cursor: pointer;
}

.info-staff__btn:hover {
    border: 1px solid var(--bs-black);
}


.referenceStaff__wrapper {
    margin: 5rem auto;
    padding: 1rem;
    width: 40%;
    background: var(--bs-blue-transparent);
    box-shadow: 1px 2px 2px 1px var(--bs-bg-transparent);
}

.referenceStaff__table {
    width: 100%;
}

.referenceStaff__table tr{
    text-align: center;
}

.referenceStaff__article {
    margin: 1rem 0;
}

.referenceStaff__title {
    margin: 1rem 0;
    text-align: center;
}

.referenceStaff__salary {
    background: #eee;
}

.covid-detail__wrapper {
    margin: 5rem auto;
    padding: 1rem;
    width: 30%;
    background: var(--bs-blue-transparent);
    box-shadow: 1px 2px 2px 1px var(--bs-bg-transparent);
}

.covid-detail__title {
    margin-bottom: .5rem;
    text-align: center;
}

.covid-detail__wrapper label {
    display: block;
}

.covid-detail__wrapper input {
    margin-bottom: 1rem;
}

.covid-detail__wrapper button {
    margin: 2.3rem auto 0 auto;
    display: block;
    width: 7rem;
    height: 3rem;
    background: var(--bs-white);
    border: 1px solid transparent;
    cursor: pointer;
}

.covid-detail__wrapper button:hover {
    border: 1px solid var(--bs-black)
}

footer {
    height: 3.2rem;
    background: var(--bs-blue-transparent);
    text-align: center;
}

footer h3 {
    line-height: 3.2rem;
}

@media screen and (max-width: 767px) {
    .app {
        height: auto;
    }

    .active {
        background: var(--bs-blue);
    }

    .navbar__list {
        display: none;
    }

    .side-menu-toggle {
        display: block;
    }

    .mobile-nav {
        display: block;
    }

    .blank {
       display: none;
    }

    .form-leave__wrapper,
    .attendace-wrapper {
        height: 100vh;
    }

    .attendace-form form {
        margin-top: 2rem;
    }

    .referenceStaff__wrapper {
        width: 90%;
    }

    .info-staff__wrapper,
    .covid-detail__wrapper,
    .form-leave,
    .form-start {
        width: 80%;
    }

}

@media screen and (min-width: 768px) {
    .side-menu-toggle {
        display: none;
    }

    .mobile-nav {
        display: none;
    }

    .black-drop {
        display: none;
    }
    
}

/* common style */
.active {
    border-radius: 0.4rem;
    background-color: var(--bs-blue);
}

.show-form {
    display: block;
}

.hide-form {
    display: none;
}

/* common style */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
